<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="BurnDlg">
		<title>Burn</title>
		<centered>1</centered>
		<id_arg>0</id_arg>
		<style>wxDEFAULT_DIALOG_STYLE|wxRESIZE_BORDER</style>
		<handler function="OnWindowFocus" entry="EVT_SET_FOCUS" />
		<object class="wxBoxSizer" variable="mainSizer" member="no">
			<orient>wxVERTICAL</orient>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="panelSizer" member="no">
					<orient>wxVERTICAL</orient>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="tempDirGrid" member="no">
							<cols>2</cols>
							<growablecols>1</growablecols>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT1" variable="tempDirLabel" member="yes">
									<label>Temp directory:</label>
								</object>
								<flag>wxRIGHT|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>4</border>
							</object>
							<object class="sizeritem">
								<object class="wxBoxSizer" variable="tempDirSizer" member="no">
									<object class="sizeritem">
										<object class="wxTextCtrl" name="TEMP_DIR_FIELD_ID" variable="m_tempDirText" member="yes">
											<handler function="OnTempDirChange" entry="EVT_TEXT" />
										</object>
										<flag>wxRIGHT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>2</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxButton" name="TEMP_DIR_BT_ID" variable="m_tempDirBt" member="yes">
											<label>...</label>
											<size>21,21</size>
											<handler function="OnChooseTempDir" entry="EVT_BUTTON" />
										</object>
										<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									</object>
								</object>
								<flag>wxTOP|wxBOTTOM|wxEXPAND</flag>
								<border>4</border>
								<option>1</option>
							</object>
							<object class="spacer">
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<size>16,16</size>
							</object>
							<object class="sizeritem">
								<object class="wxBoxSizer" variable="freeSpaceSizer" member="no">
									<object class="sizeritem">
										<object class="wxStaticText" name="wxID_ANY" variable="freeSpaceTitle" member="no">
											<label>Free:</label>
										</object>
										<flag>wxRIGHT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>4</border>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT3" variable="m_freeSpaceText" member="yes">
											<label></label>
										</object>
										<flag>wxRIGHT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>16</border>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="wxID_ANY" variable="requiredSpaceTitle" member="no">
											<label>Required:</label>
										</object>
										<flag>wxRIGHT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>4</border>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT4" variable="m_requiredSpaceText" member="yes">
											<label></label>
										</object>
										<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxEXPAND</flag>
							</object>
						</object>
						<flag>wxEXPAND</flag>
					</object>
					<object class="sizeritem">
						<object class="wxCheckBox" name="PREVIEW_CHECK_ID" variable="m_previewCheck" member="yes">
							<label>preview</label>
							<handler function="OnPreviewCheck" entry="EVT_CHECKBOX" />
						</object>
						<flag>wxTOP|wxBOTTOM|wxALIGN_LEFT</flag>
						<border>4</border>
					</object>
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="previewSizer" member="no">
							<object class="spacer">
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<size>16,16</size>
							</object>
							<object class="sizeritem">
								<object class="wxChoice" name="ID_PREVIEW_CHOICE" variable="m_previewChoice" member="yes">
									<handler function="OnPreviewCheck" entry="EVT_CHOICE" />
								</object>
								<flag>wxRIGHT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>2</border>
							</object>
							<object class="sizeritem">
								<object class="wxTextCtrl" name="ID_TEXTCTRL2" variable="m_previewTextCtrl" member="yes">
									<handler function="OnTempDirChange" entry="EVT_TEXT" />
								</object>
								<flag>wxRIGHT|wxEXPAND</flag>
								<border>2</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxButton" name="ID_PREVIEW_BT" variable="m_previewBt" member="yes">
									<label>...</label>
									<size>21,21</size>
									<handler function="OnChoosePreviewCmd" entry="EVT_BUTTON" />
								</object>
								<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							</object>
							<object class="sizeritem">
								<object class="wxStaticBitmap" name="wxID_ANY" variable="m_okBitmap" member="yes">
									<bitmap code="wxBITMAP_FROM_MEMORY(ok)" />
									<hidden>1</hidden>
									<style>wxNO_BORDER</style>
								</object>
								<flag>wxLEFT|wxRIGHT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>4</border>
							</object>
							<object class="sizeritem">
								<object class="wxStaticBitmap" name="wxID_ANY" variable="m_errorBitmap" member="yes">
									<bitmap code="wxBITMAP_FROM_MEMORY(error)" />
									<hidden>1</hidden>
									<style>wxNO_BORDER</style>
								</object>
								<flag>wxLEFT|wxRIGHT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>4</border>
							</object>
							<object class="sizeritem">
								<object class="wxHyperlinkCtrl" name="ID_HYPERLINKCTRL1" variable="m_downloadLink" member="yes">
									<label>Download</label>
									<hidden>1</hidden>
								</object>
								<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
							</object>
						</object>
						<flag>wxTOP|wxBOTTOM|wxEXPAND</flag>
						<border>4</border>
					</object>
					<object class="sizeritem">
						<object class="wxRadioButton" name="GENERATE_RADIO_BT_ID" variable="m_generateRadioBt" member="yes">
							<label>just generate</label>
							<style>wxRB_GROUP</style>
							<handler function="OnRadioBt" entry="EVT_RADIOBUTTON" />
						</object>
						<flag>wxTOP|wxBOTTOM|wxALIGN_LEFT</flag>
						<border>4</border>
					</object>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="outputGrid" member="no">
							<cols>3</cols>
							<growablecols>2</growablecols>
							<object class="spacer">
								<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<size>16,16</size>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="wxID_ANY" variable="m_outputLabel" member="yes">
									<label>Save to:</label>
								</object>
								<flag>wxRIGHT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>4</border>
							</object>
							<object class="sizeritem">
								<object class="wxBoxSizer" variable="outputSizer" member="no">
									<object class="sizeritem">
										<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="m_outputDirText" member="yes">
											<handler function="OnTempDirChange" entry="EVT_TEXT" />
										</object>
										<flag>wxRIGHT|wxEXPAND</flag>
										<border>2</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxButton" name="ID_OUTPUT_BT" variable="m_outputDirBt" member="yes">
											<label>...</label>
											<size>21,21</size>
											<handler function="OnChooseOutputDir" entry="EVT_BUTTON" />
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									</object>
								</object>
								<flag>wxTOP|wxBOTTOM|wxEXPAND</flag>
								<border>4</border>
								<option>1</option>
							</object>
							<object class="spacer">
								<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<size>16,16</size>
							</object>
							<object class="spacer">
								<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<size>16,16</size>
							</object>
							<object class="sizeritem">
								<object class="wxBoxSizer" variable="outputFreeSpaceSizer" member="no">
									<object class="sizeritem">
										<object class="wxStaticText" name="wxID_ANY" variable="m_outputFreeSpaceTitle" member="yes">
											<label>Free:</label>
										</object>
										<flag>wxRIGHT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>4</border>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT6" variable="m_outputFreeSpaceText" member="yes">
											<label></label>
										</object>
										<flag>wxRIGHT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>16</border>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="wxID_ANY" variable="m_outputRequiredSpaceTitle" member="yes">
											<label>Required:</label>
										</object>
										<flag>wxRIGHT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>4</border>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT7" variable="m_outputRequiredSpaceText" member="yes">
											<label></label>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									</object>
								</object>
								<flag>wxALL|wxEXPAND</flag>
							</object>
						</object>
						<flag>wxEXPAND</flag>
					</object>
					<object class="sizeritem">
						<object class="wxRadioButton" name="ISO_RADIO_BT_ID" variable="m_isoRadioBt" member="yes">
							<label>create iso image</label>
							<handler function="OnRadioBt" entry="EVT_RADIOBUTTON" />
						</object>
						<flag>wxTOP|wxBOTTOM|wxALIGN_LEFT</flag>
						<border>4</border>
					</object>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="isoGrid" member="no">
							<cols>3</cols>
							<growablecols>2</growablecols>
							<object class="spacer">
								<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<size>16,16</size>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="wxID_ANY" variable="m_isoLabel" member="yes">
									<label>Save to:</label>
								</object>
								<flag>wxRIGHT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>4</border>
							</object>
							<object class="sizeritem">
								<object class="wxBoxSizer" variable="isoSizer" member="no">
									<object class="sizeritem">
										<object class="wxTextCtrl" name="ISO_FILE_FIELD_ID" variable="m_isoText" member="yes">
											<handler function="OnTempDirChange" entry="EVT_TEXT" />
										</object>
										<flag>wxRIGHT|wxEXPAND</flag>
										<border>2</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxButton" name="ISO_BT_ID" variable="m_isoBt" member="yes">
											<label>...</label>
											<size>21,21</size>
											<handler function="OnChooseIsoFile" entry="EVT_BUTTON" />
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									</object>
								</object>
								<flag>wxTOP|wxBOTTOM|wxEXPAND</flag>
								<border>4</border>
								<option>1</option>
							</object>
							<object class="spacer">
								<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<size>16,16</size>
							</object>
							<object class="spacer">
								<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<size>16,16</size>
							</object>
							<object class="sizeritem">
								<object class="wxBoxSizer" variable="isoFreeSpaceSizer" member="no">
									<object class="sizeritem">
										<object class="wxStaticText" name="wxID_ANY" variable="m_isoFreeSpaceTitle" member="yes">
											<label>Free:</label>
										</object>
										<flag>wxRIGHT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>4</border>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT2" variable="m_isoFreeSpaceText" member="yes">
											<label></label>
										</object>
										<flag>wxRIGHT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>16</border>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="wxID_ANY" variable="m_isoRequiredSpaceTitle" member="yes">
											<label>Required:</label>
										</object>
										<flag>wxRIGHT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>4</border>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT5" variable="m_isoRequiredSpaceText" member="yes">
											<label></label>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									</object>
								</object>
								<flag>wxALL|wxEXPAND</flag>
							</object>
						</object>
						<flag>wxEXPAND</flag>
						<border>6</border>
					</object>
					<object class="sizeritem">
						<object class="wxRadioButton" name="BURN_RADIO_BT_ID" variable="m_burnRadioBt" member="yes">
							<label>burn</label>
							<handler function="OnRadioBt" entry="EVT_RADIOBUTTON" />
						</object>
						<flag>wxTOP|wxBOTTOM|wxALIGN_LEFT</flag>
						<border>4</border>
					</object>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="burnFlexGridSizer1" member="no">
							<cols>2</cols>
							<growablecols>1</growablecols>
							<object class="spacer">
								<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<size>16,16</size>
							</object>
							<object class="sizeritem">
								<object class="wxCheckBox" name="ID_CHECKBOX1" variable="m_formatCheck" member="yes">
									<label>format DVD-RW</label>
								</object>
								<flag>wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
							</object>
							<object class="spacer">
								<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<size>16,16</size>
							</object>
							<object class="sizeritem">
								<object class="wxBoxSizer" variable="deviceSizer" member="no">
									<object class="sizeritem">
										<object class="wxStaticText" name="wxID_ANY" variable="m_deviceLabel" member="yes">
											<label>Device:</label>
										</object>
										<flag>wxRIGHT|wxALIGN_CENTER_VERTICAL</flag>
										<border>4</border>
									</object>
									<object class="sizeritem">
										<object class="wxComboBox" name="ID_COMBOBOX1" variable="m_deviceChoice" member="yes">
											<style>wxCB_DROPDOWN</style>
										</object>
										<flag>wxRIGHT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>12</border>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="wxID_ANY" variable="m_speedLabel" member="yes">
											<label>Speed:</label>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
									</object>
									<object class="sizeritem">
										<object class="wxComboBox" name="ID_COMBOBOX2" variable="m_speedChoice" member="yes">
											<style>wxCB_DROPDOWN</style>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									</object>
								</object>
								<flag>wxEXPAND</flag>
								<border>5</border>
							</object>
						</object>
						<flag>wxALL|wxEXPAND</flag>
					</object>
					<object class="sizeritem">
						<object class="wxCheckBox" name="ID_CHECKBOX2" variable="m_addECCCheck" member="yes">
							<label>add error correction data</label>
						</object>
						<flag>wxTOP|wxALIGN_LEFT</flag>
						<border>4</border>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>6</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStdDialogButtonSizer" variable="stdDialogButtonSizer" member="no">
					<object class="button">
						<object class="wxButton" name="wxID_OK">
							<label>Start</label>
						</object>
					</object>
					<object class="button">
						<object class="wxButton" name="wxID_CANCEL">
							<label></label>
						</object>
					</object>
					<object class="button">
						<object class="wxButton" name="wxID_APPLY">
							<label>Reset</label>
						</object>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>6</border>
			</object>
		</object>
	</object>
</wxsmith>
