<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="ChaptersDlg">
		<title>Chapters</title>
		<centered>1</centered>
		<size>800,450</size>
		<id_arg>0</id_arg>
		<style>wxDEFAULT_DIALOG_STYLE|wxRESIZE_BORDER</style>
		<object class="wxBoxSizer" variable="mainSizer" member="no">
			<orient>wxVERTICAL</orient>
			<object class="sizeritem">
				<object class="wxSplitterWindow" name="ID_SPLITTERWINDOW" variable="splitterWindow" member="no">
					<minsize>50</minsize>
					<orientation>vertical</orientation>
					<minsize>50,50</minsize>
					<style>wxSP_3D|wxSP_3DSASH</style>
					<object class="wxPanel" name="ID_PANEL1" variable="panel1" member="no">
						<pos>47,173</pos>
						<object class="wxBoxSizer" variable="BoxSizer2" member="no">
							<orient>wxVERTICAL</orient>
							<object class="sizeritem">
								<object class="wxStaticText" name="wxID_ANY" variable="staticText1" member="no">
									<label>Chapters:</label>
								</object>
								<flag>wxTOP|wxLEFT|wxRIGHT|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
							</object>
							<object class="sizeritem">
								<object class="wxBoxSizer" variable="BoxSizer3" member="no">
									<object class="sizeritem">
										<object class="Custom" name="ID_THUMBNAILS" subclass="wxThumbnails" variable="m_thumbnails" member="yes">
											<creating_code>$(THIS) = new $(CLASS)($(PARENT),$(ID));</creating_code>
											<include_file>wxVillaLib/Thumbnails.h</include_file>
											<local_include>1</local_include>
											<style></style>
											<size>300,300</size>
										</object>
										<flag>wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxBoxSizer" variable="boxSizer2" member="no">
											<orient>wxVERTICAL</orient>
											<object class="sizeritem">
												<object class="wxBitmapButton" name="ID_ADD_BT" variable="m_addBt" member="yes">
													<bitmap code="wxBITMAP_FROM_MEMORY(add)" />
													<handler function="OnAddBt" entry="EVT_BUTTON" />
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>4</border>
											</object>
											<object class="sizeritem">
												<object class="wxBitmapButton" name="ID_DEL_BT" variable="m_delBt" member="yes">
													<bitmap code="wxBITMAP_FROM_MEMORY(remove)" />
													<handler function="OnDelBt" entry="EVT_BUTTON" />
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>4</border>
											</object>
										</object>
										<flag>wxEXPAND|wxALIGN_TOP|wxALIGN_CENTER_HORIZONTAL</flag>
										<border>5</border>
									</object>
								</object>
								<flag>wxTOP|wxBOTTOM|wxLEFT|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
					</object>
					<object class="wxPanel" name="ID_PANEL2" variable="panel2" member="no">
						<object class="wxBoxSizer" variable="BoxSizer4" member="no">
							<orient>wxVERTICAL</orient>
							<object class="sizeritem">
								<object class="Custom" name="ID_MEDIA_CTRL" subclass="MediaCtrlFF" variable="m_mediaCtrl" member="yes">
									<creating_code>$(THIS) = new $(CLASS)($(PARENT), $(ID), wxT(&quot;&quot;), $(POS),$(SIZE), 0, wxDefaultValidator, $(NAME));&#x0A;$(THIS)-&gt;SetMinSize(wxSize(300, 200));&#x0A;$(THIS)-&gt;SetWindowStyle(wxBORDER__NONE);</creating_code>
									<style></style>
									<minsize>300,200</minsize>
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>4</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxSlider" name="ID_SLIDER" variable="m_slider" member="yes" />
								<flag>wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>2</border>
							</object>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="flexGridSizer1" member="no">
									<cols>2</cols>
									<vgap>2</vgap>
									<hgap>4</hgap>
									<growablecols>1</growablecols>
									<object class="sizeritem">
										<object class="wxStaticText" name="wxID_ANY" variable="StaticText1" member="no">
											<label>Time:</label>
										</object>
										<flag>wxLEFT|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
										<border>4</border>
									</object>
									<object class="sizeritem">
										<object class="wxBoxSizer" variable="BoxSizer5" member="no">
											<object class="sizeritem">
												<object class="wxTextCtrl" name="ID_TIME_CTRL" variable="m_timeCtrl" member="yes">
													<handler function="OnChangeTime" entry="EVT_TEXT" />
												</object>
												<flag>wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
											</object>
											<object class="sizeritem">
												<object class="wxSpinButton" name="ID_TIME_SPINB" variable="m_timeSpinBt" member="yes">
													<max>100</max>
													<minsize>16,12</minsize>
													<handler function="OnTimeSpin" entry="EVT_SPIN" />
												</object>
												<flag>wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
											</object>
											<object class="sizeritem">
												<object class="wxSpinButton" name="ID_FRAME_SPINBT" variable="m_frameSpinBt" member="yes">
													<min>-9999</min>
													<max>9999</max>
													<minsize>16,12</minsize>
													<handler function="OnFrameSpin" entry="EVT_SPIN_UP" />
													<handler function="OnFrameSpinDown" entry="EVT_SPIN_DOWN" />
												</object>
												<flag>wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
											</object>
										</object>
										<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="wxID_ANY" variable="staticText5" member="no">
											<label>Type:</label>
										</object>
										<flag>wxLEFT|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
										<border>4</border>
									</object>
									<object class="sizeritem">
										<object class="wxBoxSizer" variable="boxSizer1" member="no">
											<object class="sizeritem">
												<object class="wxRadioButton" name="ID_RADIOBUTTON1" variable="m_chapterBt" member="yes">
													<label>Chapter</label>
													<style>wxRB_GROUP</style>
												</object>
												<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>4</border>
											</object>
											<object class="sizeritem">
												<object class="wxRadioButton" name="ID_RADIOBUTTON2" variable="m_programBt" member="yes">
													<label>Program</label>
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											</object>
											<object class="sizeritem">
												<object class="wxRadioButton" name="ID_RADIOBUTTON3" variable="m_regularBt" member="yes">
													<label>Regular cell</label>
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											</object>
										</object>
										<flag>wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText2" member="yes">
											<label>End:</label>
										</object>
										<flag>wxLEFT|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxBoxSizer" variable="BoxSizer6" member="no">
											<object class="sizeritem">
												<object class="wxChoice" name="ID_CHOICE1" variable="m_endChoice" member="yes">
													<content>
														<item>Auto</item>
														<item>Custom</item>
													</content>
													<selection>0</selection>
													<handler function="OnEndChoice" entry="EVT_CHOICE" />
												</object>
												<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											</object>
											<object class="sizeritem">
												<object class="wxTextCtrl" name="ID_END_CTRL" variable="m_endCtrl" member="yes">
													<handler function="OnChangeEnd" entry="EVT_TEXT" />
												</object>
												<flag>wxLEFT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>2</border>
											</object>
											<object class="sizeritem">
												<object class="wxSpinButton" name="ID_END_SPIN" variable="m_endSpinBt" member="yes">
													<max>100</max>
													<minsize>16,12</minsize>
													<handler function="OnEndSpin" entry="EVT_SPIN" />
												</object>
												<flag>wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											</object>
											<object class="sizeritem">
												<object class="wxSpinButton" name="ID_END_FRAME_SPINBT" variable="m_endFrameSpinBt" member="yes">
													<min>-9999</min>
													<max>9999</max>
													<minsize>16,12</minsize>
													<handler function="OnEndFrameSpin" entry="EVT_SPIN_UP" />
													<handler function="OnEndFrameSpinDown" entry="EVT_SPIN_DOWN" />
												</object>
												<flag>wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
											</object>
											<object class="sizeritem">
												<object class="wxStaticText" name="wxID_ANY" variable="staticText2" member="no">
													<label>Pause:</label>
												</object>
												<flag>wxLEFT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>8</border>
											</object>
											<object class="sizeritem">
												<object class="wxSpinCtrl" name="ID_DURATION_CTRL" variable="m_pauseSpin" member="yes">
													<value>0</value>
													<min>-1</min>
													<max>999</max>
													<size>60,-1</size>
												</object>
												<flag>wxLEFT|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>4</border>
											</object>
											<object class="sizeritem">
												<object class="wxStaticText" name="wxID_ANY" variable="staticText3" member="no">
													<label>sec</label>
												</object>
												<flag>wxLEFT|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
												<border>2</border>
											</object>
										</object>
										<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="wxID_ANY" variable="staticText4" member="no">
											<label>Commands:</label>
										</object>
										<flag>wxLEFT|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
										<border>4</border>
									</object>
									<object class="sizeritem">
										<object class="wxComboBox" name="ID_COMMANDS_CTRL" variable="m_commandsCtrl" member="yes" />
										<flag>wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
										<border>4</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxBOTTOM|wxLEFT|wxRIGHT|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
							</object>
						</object>
					</object>
				</object>
				<flag>wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer1" member="no">
					<object class="sizeritem">
						<object class="wxCheckBox" name="ID_ADD_CELL_CHECK" variable="m_addCellAtBegin" member="yes">
							<label>Add cell at begin if it doesn&apos;t exist</label>
						</object>
						<flag>wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxStdDialogButtonSizer" variable="stdDialogButtonSizer" member="no">
							<object class="button">
								<object class="wxButton" name="wxID_OK">
									<label></label>
								</object>
							</object>
							<object class="button">
								<object class="wxButton" name="wxID_CANCEL">
									<label></label>
								</object>
							</object>
						</object>
						<flag>wxTOP|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxBOTTOM|wxLEFT|wxRIGHT|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
			</object>
		</object>
	</object>
</wxsmith>
