<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="ProgressDlg">
		<title>Generate DVD</title>
		<centered>1</centered>
		<size>600,600</size>
		<id_arg>0</id_arg>
		<style>wxDEFAULT_DIALOG_STYLE|wxRESIZE_BORDER</style>
		<object class="wxBoxSizer" variable="mainSizer" member="no">
			<orient>wxVERTICAL</orient>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="m_panelSizer" member="yes">
					<orient>wxVERTICAL</orient>
					<object class="sizeritem">
						<object class="wxStaticText" name="wxID_ANY" variable="summaryLabel" member="no">
							<label>Summary:</label>
						</object>
						<flag>wxBOTTOM|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
					</object>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="ID_SUMMURY_CTRL" variable="m_summaryText" member="yes">
							<style>wxTE_MULTILINE|wxTE_READONLY|wxTE_RICH</style>
						</object>
						<flag>wxBOTTOM|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>8</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxGauge" name="ID_GAUGE1" variable="m_gauge" member="yes">
							<style>wxGA_HORIZONTAL|wxGA_SMOOTH</style>
						</object>
						<flag>wxBOTTOM|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>4</border>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="wxID_ANY" variable="m_detailsLabel" member="yes">
							<label>Details:</label>
						</object>
						<flag>wxBOTTOM|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
					</object>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="ID_DETAILS_CTRL" variable="m_detailsText" member="yes">
							<style>wxTE_MULTILINE|wxTE_READONLY|wxTE_RICH</style>
						</object>
						<flag>wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<option>1</option>
					</object>
				</object>
				<flag>wxTOP|wxLEFT|wxRIGHT|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>8</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="btSizer" member="no">
					<object class="sizeritem">
						<object class="wxButton" name="ID_DETAILS_BT" variable="m_detailsBt" member="yes">
							<label>Hide details</label>
							<handler function="OnHideDetails" entry="EVT_BUTTON" />
						</object>
						<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxCheckBox" name="ID_CHECKBOX1" variable="m_shutdown" member="yes">
							<label>Turn off PC when finished</label>
							<handler function="OnShutdownClick" entry="EVT_CHECKBOX" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
					<object class="spacer">
						<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_MINIMIZE_BT" variable="m_minimizeBt" member="yes">
							<label>Minimize</label>
							<handler function="OnMinimize" entry="EVT_BUTTON" />
						</object>
						<flag>wxRIGHT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>8</border>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="wxID_CANCEL" variable="m_cancelBt" member="yes">
							<label>Cancel</label>
							<handler function="OnCancel" entry="EVT_BUTTON" />
						</object>
						<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>8</border>
			</object>
		</object>
	</object>
</wxsmith>
