<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="TemplateDlg">
		<title>Select template for DVD menus</title>
		<centered>1</centered>
		<size>696,430</size>
		<id_arg>0</id_arg>
		<style>wxDEFAULT_DIALOG_STYLE|wxRESIZE_BORDER</style>
		<object class="wxBoxSizer" variable="mainSizer" member="no">
			<orient>wxVERTICAL</orient>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="boxSizerVertical" member="no">
					<orient>wxVERTICAL</orient>
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="captionSizer" member="no">
							<object class="sizeritem">
								<object class="wxStaticText" name="wxID_ANY" variable="captionLabel" member="no">
									<label>Caption:</label>
								</object>
								<flag>wxRIGHT|wxALIGN_CENTER_VERTICAL</flag>
								<border>4</border>
							</object>
							<object class="sizeritem">
								<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="m_titleText" member="yes">
									<value>Disc Title</value>
									<size>400,-1</size>
									<font>
										<size>10</size>
										<style>normal</style>
										<weight>normal</weight>
										<underlined>0</underlined>
										<family>swiss</family>
									</font>
								</object>
								<flag>wxEXPAND</flag>
								<option>1</option>
							</object>
						</object>
						<flag>wxEXPAND</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="menuTypeSizer" member="no">
							<object class="sizeritem">
								<object class="wxRadioButton" name="ID_RADIOBUTTON1" variable="m_titleMenu" member="yes">
									<label>Title selection</label>
									<style>wxRB_GROUP</style>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>4</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxRadioButton" name="ID_RADIOBUTTON2" variable="m_chapterMenu" member="yes">
									<label>Chapter selection</label>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>4</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>4</border>
					</object>
				</object>
				<flag>wxTOP|wxLEFT|wxRIGHT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>8</border>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="templateSizer" member="no">
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="categorySizer" member="no">
							<orient>wxVERTICAL</orient>
							<object class="sizeritem">
								<object class="wxStaticText" name="wxID_ANY" variable="categoryLabel" member="no">
									<label>Category</label>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>2</border>
							</object>
							<object class="sizeritem">
								<object class="wxListBox" name="CATEGORY_LIST_BOX_ID" variable="m_categoryListBox" member="yes">
									<content>
										<item>All</item>
									</content>
									<size>180,-1</size>
									<font>
										<size>10</size>
										<style>normal</style>
										<weight>normal</weight>
										<underlined>0</underlined>
										<family>swiss</family>
									</font>
									<style>wxLB_SINGLE|wxLB_NEEDED_SB</style>
									<handler function="OnCategorySelect" entry="EVT_LISTBOX" />
								</object>
								<flag>wxEXPAND</flag>
								<option>1</option>
							</object>
						</object>
						<flag>wxRIGHT|wxEXPAND</flag>
						<border>4</border>
					</object>
					<object class="sizeritem">
						<object class="Custom" name="THUMBNAILS_ID" subclass="wxThumbnails" variable="m_thumbnails" member="yes">
							<creating_code>$(THIS) = new $(CLASS)($(PARENT),$(ID), $(STYLE));</creating_code>
							<include_file>wxVillaLib/Thumbnails.h</include_file>
							<style>wxBORDER__DOUBLE</style>
						</object>
						<flag>wxEXPAND</flag>
						<border>4</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>4</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticLine" name="wxID_ANY" variable="staticLine1" member="no">
					<size>10,-1</size>
				</object>
				<flag>wxEXPAND</flag>
			</object>
			<object class="sizeritem">
				<object class="wxStdDialogButtonSizer" variable="stdDialogButtonSizer" member="no">
					<object class="button">
						<object class="wxButton" name="wxID_OK">
							<label></label>
						</object>
					</object>
					<object class="button">
						<object class="wxButton" name="wxID_CANCEL">
							<label>&amp;No template</label>
						</object>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
			</object>
		</object>
	</object>
</wxsmith>
