[Desktop Entry]
Version=1.0
Type=Application
Name=DVD Styler
GenericName=Video DVD Production
GenericName[af]=Video DVD produksie
GenericName[sq]=Prodhues i Video DVD
GenericName[ast]=Producción de DVD de vídeu
GenericName[be]=Вытворчасьць DVD-відэа
GenericName[bn]=ভিডিও ডিভিডি উৎপাদন
GenericName[bs]=Video DVD produkcija
GenericName[pt_BR]=Produção de vídeo DVD
GenericName[bg]=DVD Видео Продукция
GenericName[ca]=Producció de vídeo en DVD
GenericName[ca@valencia]=Producció de vídeo en DVD
GenericName[zh_HK]=DVD 影片製作
GenericName[zh_CN]=DVD 影片制作
GenericName[zh_TW]=DVD 影片製作
GenericName[crh]=Video DVD Üretimi
GenericName[cs]=Tvorba video DVD
GenericName[da]=Film-dvd-produktion
GenericName[nl]=Video-dvd-productie
GenericName[et]=Video-DVD looja
GenericName[fi]=Video-DVD-levyjen tuotanto
GenericName[fr]=Production de DVD vidéo
GenericName[fr_CA]=Production de DVD vidéo
GenericName[gl]=Produción de vídeo en DVD
GenericName[de]=Video-DVD Produktion
GenericName[el]=Παραγωγή DVD βίντεο
GenericName[hu]=Video DVD-k készítése
GenericName[is]=Gerð DVD mynddiska
GenericName[it]=Produzione di DVD video
GenericName[ja]=ビデオ DVD の作成
GenericName[ky]=DVD видео файлдарын чыгаруу
GenericName[ko]=비디오 DVD 프로덕션입니다
GenericName[lt]=Vaizdo DVD generavimas
GenericName[ms]=Produksi DVD Video
GenericName[nb]=Video DVD Produksjon
GenericName[pt]=Produção de DVD de vídeo
GenericName[pl]=Program do tworzenia profesjonalnych płyt DVD
GenericName[fa]=تولید لوح فشرده ویدئو
GenericName[oc]=Produccion de DVD vidèo
GenericName[ro]=Producție video pe DVD
GenericName[ru]=Производство DVD видео
GenericName[sl]=Izdelava Video DVD-jev
GenericName[es]=Producción de DVD de vídeo
GenericName[sv]=Skapande av video-dvd
GenericName[tr]=Video DVD Üretimi
GenericName[uk]=Виготовлення відео DVD
GenericName[vi]=Trình sản xuất phim DVD
Comment=DVDStyler is a crossplatform authoring system for Video DVD production
Comment[ca]=El DVDStyler es un sistema de creació personalitzada multiplataforma per a la producció de DVD de vídeo
Comment[cs]=DVDStyler je multiplatformní program pro tvorbu DVD
Comment[da]=DVDStyler er et platformsuafhængigt program til Video DVD produktion
Comment[de]=DVDStyler ist ein plattformübergreifendes Authoring-System zur Produktion von Video-DVDs
Comment[el]=DVDStyler είναι ένα πρόγραμμα δημιουργίας DVD πολλαπλών λειτουργικών συστημάτων
Comment[es]=DVDStyler es un sistema de autoría de DVD multiplataforma
Comment[eu]=DVDStyler plataforma-anitzeko Bideo DVD ekoizpen egile sistema bat da
Comment[fi]=DVDStyler on monen alustan järjestelmä video-DVD:n valmistusta varten
Comment[fr]=DVDStyler est une application multi-plateforme pour la production de DVD Vidéo
Comment[hu]=A DVDStyler egy platformfüggetlen film-DVD szerkesztő rendszer
Comment[it]=DVDStyler è un sistema di produzione DVD Video multipiattaforma
Comment[ja]=DVDStyler はクロスプラットフォームのDVDオーサリングシステムです
Comment[ko]=DVDStyler는 멀티 DVD 제작을 위한 저작도구입니다
Comment[mk]=ДВДСтајлер e кросплатформна програма за систем кој создава и произведува видео ДВД
Comment[nb]=DVDStyler er et fler-OS system for produksjon av DVD-filmer
Comment[nl]=DVDStyler is een cross-platform multimedia mastering systeem voor Video DVD
Comment[pl]=DVDStyler jest wieloplatformowym programem do authoringu DVD
Comment[pt]=O DVDStyler é um sistema multiplataforma para a produção de DVDs de vídeo
Comment[pt_BR]=DVDStyler é um programa multiplataforma para a criação de DVD's
Comment[ro]=DVDStyler este o aplicaţie multiplatformă pentru producerea de video DVD-uri
Comment[ru]=DVDStyler это мультиплатформенная система DVD-авторинга
Comment[sk]=DVDStyler je multiplatformný program na vytváranie DVD
Comment[sl]=DVDStyler je večplatformni sistem za produkcijsko pripravo DVD-jev
Comment[sr]=DVDStyler je program za autoriranje DVD-a
Comment[sv]=DVDStyler är ett authoringsystem för att producera DVD-filmer
Comment[tr]=DVDStyler Video DVD üretimi için bir çapraz platform yazma sistemidir
Comment[uk]=DVDStyler це міжплатформена програма для створення DVD
Comment[vi]=DVDStyler là một chương trình tuyệt vời cho việc xuất bản các sản phẩm DVD
Comment[zh_CN]=DVDStyler 是跨平台的视讯 DVD 制作系统
Comment[zh_TW]=DVDStyler 是跨平台的視訊 DVD 製作系統
Icon=dvdstyler
Exec=dvdstyler
Terminal=false
Categories=AudioVideo;Video;AudioVideoEditing;
StartupNotify=true
